@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --light-background: #f9fafb;
    --dark-background: black;
}

html {
    --background: var(--light-background);
}

html.dark {
    --background: var(--dark-background);
}

@layer components {
    .navBtn{
        @apply 
            hidden 
            md:inline-flex
            h-6
            cursor-pointer
            transform
            transition-all
            hover:scale-125
            duration-150
            ease-out;
    }
}
@layer components {
    .btn {
        @apply
            h-7
            cursor-pointer
            transform
            transition-all
            hover:scale-125
            duration-150
            ease-out;      
    }
}