@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary-accent: #3482F6;
    --color-secondary-accent: #6b7280;
    --color-tertiary-accent: #7c3aed;
    --color-primary: #fff; /* text */
    --color-secondary: #000; /* background color */
    --color-tertiary: #D1D6DB; 
}

[data-theme="dark"] {
    --color-primary-accent: #ffff00;
    --color-secondary-accent: #00FF00;
    --color-tertiary-accent: #7c3aed;
    --color-primary: #000;
    --color-secondary: #fff;
    --color-tertiary: #D1D6DB; 
}

body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

html {
    --primary: var(--color-primary);
    --secondary: var(var(--color-secondary));
}

@layer components {
    .navBtn{
        @apply
            text-custom-secondary 
            hidden 
            md:inline-flex
            h-6
            cursor-pointer
            transform
            transition-all
            hover:scale-125
            duration-150
            ease-out;
    }
}
@layer components {
    .btn {
        @apply
            text-custom-secondary
            h-7
            cursor-pointer
            transform
            transition-all
            hover:scale-125
            duration-150
            ease-out;      
    }
}
@layer components {
    .fade {
        @apply
            transition-all
            ease-in-out
            duration-150;
    }
}