@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --light-background: #f9fafb;
    --dark-background: black;
    --light-text: black;
    --dark-text: #f9fafb;
}

html {
    --background: var(--light-background);
    --textColor: var(var(--light-text));
}

html.dark {
    --background: var(--dark-background);
    --textColor: var(--dark-text);
}

@layer components {
    .navBtn{
        @apply
            text-custom-textColor 
            hidden 
            md:inline-flex
            h-6
            cursor-pointer
            transform
            transition-all
            hover:scale-125
            duration-150
            ease-out;
    }
}
@layer components {
    .btn {
        @apply
            text-custom-textColor
            h-7
            cursor-pointer
            transform
            transition-all
            hover:scale-125
            duration-150
            ease-out;      
    }
}
@layer components {
    .fade {
        @apply
            transition-all
            ease-in-out
            duration-1000;
    }
}